apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-root
  namespace: argocd
  finalizers:
    # The default behaviour is foreground cascading deletion
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  sources:
    # Sync projects
    - repoURL: https://github.com/smooti/platform-services.git
      targetRevision: HEAD
      path: projects

    # Sync appsets
    - repoURL: https://github.com/smooti/platform-services.git
      targetRevision: HEAD
      path: appsets